button{
    background-color: rgb(36, 49, 235);
    box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #2f41e6,
    0 0 0.8rem #fbfbfb,
    0 0 2.8rem #1c19e6,
    inset 0 0 1.3rem #3340e9;
    width: 200px;
    height: 80px;
    font-size: 25px;
    color:  rgb(0, 0, 0) ;
    margin: 0px 20px;
    background-color: #9395ad;
    border-radius: 50px;
}

.boton{
    margin-top: 0%;
    margin-left: 600px;
    width: 50%;
}


/*ESTILOS DE LA ANIMACIÓN 1*/

.animacion1{
  overflow: hidden;
	height: 100%;
	width: 100%;
}


.fondo{
	position: absolute;
	top: 0px;
	left: 0px;
	background: #A3D6DB;
	width: 100%;
	height: 100%;
  background-size: 100% 100%;
	animation-name: fondo;
	animation-duration: 20s;
	animation-iteration-count: infinite;

}
.sol{ 
	background: #FFA500;
	width: 100px;
	height: 100px;
	position: absolute;
	left: -110px;
	top: 30%;
	border-radius: 100px;
	box-shadow: 0px 0px 0px 10px rgba(255,140,0,0.5);
	animation-name: sol;
	animation-duration: 20s;
	animation-iteration-count:infinite;
}

.nubes{
	background-image: url(../images/fondo1.png);
	background-repeat: repeat-x;
	position: absolute; 
	top: 10%;
	left: 0px;
	width: 100%;
	height: 174px;	
	animation-name: nubes;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

}

.ciudad{
	background-image: url(../images/ciudad.png);
	background-repeat: repeat-x;
	background-position: 0px 100%;
	position: absolute; 
	top: 10%;
	left: 0px;
	width: 100%;
	height: 90%;	
	animation-name: ciudad;
	animation-duration: 30s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.bici{ 
	width: 145px; 
	height: 80px;
	position: absolute;
	bottom: 9%;
	left: 50%;
	text-align: center;
}

.bici .marco{ 
	background-image: url(../images/marcobici.png);
	width: 98px;
	height: 56px;
	display: inline-block;
	z-index: 2;
	position: relative;
}

.bici .llanta{ 
	background-image: url(../images/llanta.png);
	width: 55px;
	height: 56px;
	display: inline-block;
	position: absolute;
	animation-name: llantas;
	animation-duration: 1s;
	animation-iteration-count: infinite;
 
}
.bici .llanta.llan1{
	top: 27px;
	left: 0px;
	z-index: 0;
}
.bici .llanta.llan2{
	top: 30px;
	right: 0px;
	z-index: 4;
}

/*PROPIEDADES DE LAS ANIMACIONES*/

@keyframes sol{
	0%{ left: -110px; top: 30%; }
	50%{ left: 50%; top: 5%; background: #FF4500; }
	100%{ left: calc(100% + 10px); top: 30%; background: #bee2e6; box-shadow: 0px 0px 0px 10px rgba(73,92,95,0.5); }
}

@keyframes fondo{
	50%{ background: #A3D6DB; }
	100%{ background: #0a0a0a; }
}

@keyframes nubes{
	from{ background-position: 0 0; }
	to{ background-position: 100% 0; }
}
@keyframes ciudad{
	from{ background-position: 0 100%; }
	to{ background-position: 100% 100%; }
}

@keyframes llantas{
	from{ transform: rotate(0deg); }
	to{ transform: rotate(360deg); }
}